<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <style>
    a:hover {
         color: green;
         font-weight: bold;
     }
     .menu{
       display: block;
     }
     li{
       font-family:Arial, Helvetica, sans-serif;
       font-size: 15px;
     }
 </style>

<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between sticky-top">
  <a style="color: green; font-size: 22px; font-weight: bold;" class ="navbar-brand" href="/">ĐÔNG Á</a>
    <form class="form-inline my-2 my-lg-0">
      <input style="width: 500px;" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  <div class="menu">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">Góc sinh viên</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Trang cá nhân
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Thông tin</a>
          <a class="dropdown-item" href="#">Cài đặt</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
        
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chat</a>
      </li>
    </ul>
  </div>

</nav>
<div style="background-color: white; border: 1px solid rgb(196, 212, 196);" class="jumbotron text-center">
    <h1 style="color: green;">BÀI VIẾT CỦA BẠN</h1>
    <p>Ghi chép bài viết dễ dàng</p>
    <a href="/posts/add" class="btn btn-dark btn-lg" style="background-color: green;">Viết bài mới</a>
</div>
<ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            Bài viết
          </a>
          <div class="dropdown-menu">
            <a href="/posts" class="dropdown-item">Tất cả bài viết</a>
            <a href="/posts/add" class="dropdown-item">Tạo bài viết mới</a>
          </div>
        </li>
</ul>
<br>
<div class="khung2">
  <a href="/"><img style="width: 40px; height: 40px; border-radius:100%; float: left; margin-top: 10px; margin-left: 10px; margin-right: 10px;" src="https://scontent.fdad4-1.fna.fbcdn.net/v/t1.6435-9/132151530_1084941408594147_8190987604990408668_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=qhAijB4iAGEAX_y3fbt&_nc_ht=scontent.fdad4-1.fna&oh=00_AT8RbtOOS0_h1sVe6eUQP-J7tnrxiCWwhF4VWYxIprtxJg&oe=61DF59A7"></a>
  <p class="name">Trần Thanh Trúc</p>
  <img class="post" src="https://channel.mediacdn.vn/thumb_w/640/2021/4/23/photo-1-16191694433301016819759.jpg">

  <i style="color: green; font-size: 25px; margin-top:20px; margin-left:20px;" class="far fa-heart"></i>
  <i style="color: green; font-size: 25px; margin-top:20px; margin-left:20px;" class="far fa-comment"></i>
  <i style="color: green; font-size: 25px; margin-top:20px; margin-left:20px;" class="far fa-share-square"></i>

  <p class="name" style="margin-left: 20px">200 người thích</p>
  <p style="margin-left: 20px; color: gray">Xem thêm các bình luận khác</p>
  <hr>
  <i style="color: green; font-size: 25px; margin-left:20px;" class="far fa-smile-beam"></i>
  <input style="width:80%; margin-left: 10px; border: none;" placeholder="Nhập bình luận của bạn...">
  <br>
</div>

<div class="khung3">
  <p  class="textkhung3">Gợi ý cho bạn</p>
  <a href="/"><img style="width: 35px; height: 35px; border-radius:100%; float: left; margin-top: 10px; margin-left: 10px; margin-right: 10px;"
    src="https://scontent.fdad4-1.fna.fbcdn.net/v/t1.6435-1/c0.0.320.320a/p320x320/86695179_199478411291232_1023197446269829120_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=7206a8&_nc_ohc=Ehy7ecgSwC0AX-xOG1T&_nc_oc=AQl7NH6cmE1Z7wRHyYXhMnAaMP_Bfn1cHpPCfDMXynfjIBZHOyzs13FtFLqgcDgOSIE&tn=a1ZXJAOt9tDm-C7O&_nc_ht=scontent.fdad4-1.fna&oh=00_AT_FuFBJmuL3VvEklkK_dPTAZA4wLHdlmy83nppwxCobNQ&oe=61E02A32"></a>
  <p style="margin-top: 30px;" class="name">Nguyễn Võ Luận</p>

  <a href="/"><img style="width: 35px; height: 35px; border-radius:100%; float: left; margin-top: 10px; margin-left: 10px; margin-right: 10px;"
    src="https://media-cdn.laodong.vn/Storage/NewsPortal/2020/3/6/788908/Cho-1.jpg"></a>
  <p style="margin-top: 30px;" class="name">Trần Hoàng Sơn</p> 

  <a href="/"><img style="width: 35px; height: 35px; border-radius:100%; float: left; margin-top: 10px; margin-left: 10px; margin-right: 10px;"
    src="https://scontent.fdad4-1.fna.fbcdn.net/v/t1.6435-9/166417947_439149037314919_2060289050616928507_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=174925&_nc_ohc=r8m7oxqLgHwAX_2JREZ&_nc_ht=scontent.fdad4-1.fna&oh=00_AT8fV-ofe6AD6HlKG9VzI-D1enpGsT1pvgEmKKvwRzghpQ&oe=61DF2F39"></a>
  <p style="margin-top: 30px;" class="name">Nguyễn Công Hiếu</p> 

  <a href="/"><img style="width: 35px; height: 35px; border-radius:100%; float: left; margin-top: 10px; margin-left: 10px; margin-right: 10px;"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-foHnZ4slQddLvPeZIsXtwM8F5gGNEeYyUuedh0navEQ-T_OXG8k5rmdw5iqzsjm9VSU&usqp=CAU"></a>
  <p style="margin-top: 30px;" class="name">Lương Văn Triều</p>

  <br>
  <a><p style="color: gray; font-size: 13px">Quyền riêng tư</a> - <a>Điều khoản</a> - <a>Quảng cáo</a> - <a>Xem thêm</a></p>
  
</div>


{{!-- style --}}
<style>
    a:hover {
        color: green;
        font-weight: bold;
        
    }
    .khung2 {
      background-color: white;
      border: 1px solid rgb(196, 212, 196);
      height: 770px;
      border-radius: 5px;
      width: 750px;
      float: left;
      margin-right: 20px;
    }
    /* .khung3 {
      background-color: white;
      border: 1px solid rgb(196, 212, 196);
      height: 770px;
      border-radius: 5px;
      width: 335px;
      float: left;
    } */
    .name{
        font-weight:bold;
        margin-top: 15px;
    }
    .post{
        width: 100%;
        height: 500px;
        margin-top: 10px;
    }
    .textkhung3{
        margin-left: 10px;
        color: gray;
        font-weight: bold;
    }
</style>
